<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.futsal.manager">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus"/>

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FutsalManagerMain"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CameraModule.VideoRecordManager">

        </activity>
        <activity android:name=".CameraModule.VideoRecordBasedOnOpenCV"
            android:hardwareAccelerated="true">

        </activity>
        <activity android:name=".BluetoothModule.BluetoothManager"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".CameraModule.MediaRecordManager"
            android:hardwareAccelerated="true"
            >

        </activity>
        <activity android:name=".BluetoothModule.DeviceListActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".BluetoothModule.BluetoothChat"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".NetworkModule.CommunicationTester"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true">

        </activity>
        <activity android:name=".MakeVideoModule.CameraRecordManager"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape">

        </activity>
        <activity android:name=".ShowVideoModule.ServerSavedVideoListManager"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ShowVideoModule.ShowVideoManager">

        </activity>
        <activity android:name=".MakeVideoModule.BluetoothDeviceFinder"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".LoadingModule.PermissionManager"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginSignUpModule.LoginSignUpManager"
            android:screenOrientation="portrait"
            >

        </activity>
    </application>

</manifest>